
html(lang="en")
    head

        title #{pageTitle}
    body
        header
            a(href="/") Enter User
            |
            |
            |
            |
            a(href="/users") Users
        block content