<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <script type="text/javascript" src="/javascript/formvalidation.js"></script>
    <link rel="stylesheet" href="/css/addtodo.css">
</head>
<body>
<form name="MyForm" action="/admin/to-do" method="post" class="container">
    <table class="center">
        <tr>
            <td><label>ToDoName:</label></td>
            <td><input type="text" id="todoname" onblur="validName()" required></td>
        </tr>

        <tr>
            <td><label>ToDo ID:</label></td>
            <td><input type="text" id="todoid" onblur="validId()" required></td>
        </tr>

        <tr>
            <td><label>ToDo Status:</label></td>
            <td><input type="checkbox" name="status" value="completed"><label>completed</label></td>
            <td><input type="checkbox" name="status" value="not-completed"><label>Not-Completed</label></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" onclick="successMsg()"></td>
        </tr>
    </table>
</form>

</body>
</html>