<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display All ToDo items</title>
    <link rel="stylesheet" href="/css/displaytodo.css">
</head>
<body>

<div class="display">
    <h1>List of ToDo's</h1>
    <table>
    <tr>
        <td>
            <label>ToDoName:HTML</label>
        </td>
        </tr>

    <tr>
    <td>
            <label>ToDoId: 1</label>
    </td></tr>
    <tr>
    <td>
        <label>ToDo Status:</label>
            <label>not-completed</label>
        </td>
    </tr>
</table>
</div>
</body>
</html>