<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>
<%- include('includes/nav.ejs') %>
<div class="home">
    <img src="/images/sky.jpg" alt="Image can't be loaded">
</div>
<%- include('includes/end.ejs') %>