<%- include('includes/head.ejs') %>
    
</head>
<body class="container">

<%- include('includes/nav.ejs') %>

<div class="row">
    <div class="col-md-4">

        <%- include('includes/menu.ejs') %>
    </div>

    <div class="col-md-6">
        <br/>
        <br/>
        <h1 class="text-center">Welcome to Pixogram application!!!</h1>
                </div>
    </div>
</div>

</body>
</html>
