<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="heading">
    <nav>
        <ul class="demo">
            <li>
                <a href="/">shop</a>
            </li>
            <li>
                <a href="/admin/add-product">Add product</a>
            </li>
        </ul>
    </nav>
</div>
<div class="body">
<h1>Welcome to the shop page!!! here we have the list of all the products that you want.</h1>
<p>Please click on Shop to fetch the products</p>
    <p>Please click on Add products to add new products</p>
</div>
</body>
</html>