h1{

    color:royalblue;
    font-family:'Times New Roman', Times, serif
}

h2{

    color: red;
    font-family:'Times New Roman', Times, serif
}
b{


    color: royalblue;
    font-family:'Times New Roman', Times, serif

}
.center {
    margin-left: auto;
    margin-right: auto;
}
